<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DB_Updater.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RunAndEditBatFile.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DB_Updater.MySettings>
            <setting name="client" serializeAs="String">
                <value />
            </setting>
            <setting name="dbp" serializeAs="String">
                <value />
            </setting>
            <setting name="dbh" serializeAs="String">
                <value />
            </setting>
            <setting name="version" serializeAs="String">
                <value />
            </setting>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="restoreFileProd" serializeAs="String">
                <value />
            </setting>
            <setting name="restoreFileHist" serializeAs="String">
                <value />
            </setting>
            <setting name="rb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="qfPath" serializeAs="String">
                <value />
            </setting>
            <setting name="backupClient" serializeAs="String">
                <value />
            </setting>
            <setting name="backupDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="backupFile" serializeAs="String">
                <value />
            </setting>
            <setting name="backupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBoxCopyFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBoxRestoreDB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxDeleteFolder" serializeAs="String">
                <value>False</value>
            </setting>
        </DB_Updater.MySettings>
        <RunAndEditBatFile.MySettings>
            <setting name="client" serializeAs="String">
                <value />
            </setting>
            <setting name="dbp" serializeAs="String">
                <value />
            </setting>
            <setting name="dbh" serializeAs="String">
                <value />
            </setting>
            <setting name="version" serializeAs="String">
                <value />
            </setting>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="restoreFileProd" serializeAs="String">
                <value />
            </setting>
            <setting name="restoreFileHist" serializeAs="String">
                <value />
            </setting>
            <setting name="rb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="qfPath" serializeAs="String">
                <value />
            </setting>
        </RunAndEditBatFile.MySettings>
    </userSettings>
</configuration>